.title{
    font-family: var(--font-main);
    text-shadow: 0px 0px 5px black;
    letter-spacing: 5px;
    margin-inline: 40px;
    border-bottom: 2px solid var(--dark-purple);
    text-align: left;
    padding-left: 25px;
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.title[data-animation='title-animation']{
    animation: title-animation 0.5s ease-in-out forwards;
}


@keyframes title-animation {
    0%{
        transform: translate(+100%);
    }
    100%{
        transform: translate(0);
    }
}

