.title{
    font-family: var(--font-main);
    font-style: italic;
    text-shadow: 0px 0px 5px black;
}

.title[data-animation='title-animation']{
    animation: title-animation 0.5s ease-in-out forwards;
}


@keyframes title-animation {
    0%{
        transform: translate(+100%);
    }
    100%{
        transform: translate(0);
    }
}