.wrapper-home{
    position: relative;
    height: 100svh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.circle-menu-home{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
