:root{
    --dark-green: #a8c563;
    --medium-green: #E4FF84;
    --light-green: #C1E04F;
    --dark-purple: #711694;
    --light-purple: #a044dd;
    --teste-purple: #e4b7f7;
    --transparent: transparent;
    --white: white
}