:root{
    --dark-green: #739425;
    --medium-green: #E4FF84;
    --light-green: #C1E04F;
    --dark-purple: #711694;
    --light-purple: #B15BEB;
    --teste-purple: #B84FE0;
    --transparent: transparent;
}